.modal-container {
  position: absolute;
  bottom: 18px;
  background-color: #FFF;
  padding: 14px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header button {
  border: none;
  background-color: transparent;
}

.modal-container span {
  margin: 14px 0;
  color: #A7A7A7;
}

.btn-modal {
  background-color: #172742;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  paddin: 0 14px;
  height: 38px;
  border-radius: 4px;
  color: #FFF;
}
