.container-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  font-size: 30px;
  color: #FFF;
  font-weight: 400;
}

.logo span {
  color: #FFF;
  margin-top: 11px;
  font-weight: 400;
  margin-bottom: 16px;
}

.area-input {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideY 2s;
}

@keyframes slideY {
  from {
    transform: translateY(90px);
  }
  top {
    transform: translateY(0px)
  }
}

.area-input div {
  width: 100%;
  height: 46px;
  background-color: rgb(255,255,255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.area-input svg {
  margin: 0 8px;
}

.area-input input {
  width: 100%;
  background: transparent;
  border: none;
  height: 46px;
  color: #FFF;
  outline: none;
  font-size: 16px;
}

.area-input input::placeholder {
  color: rgb(255,255,255, 0.8);
}

.area-input button {
  width: 100%;
  height: 46px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: ease 1s;
  color: #fff;
  background: #080a3f;
  font-size: 15px;
}


.area-input button:hover {
  background: #20123c;
  color: white;
  transform: scale(1.05);
}


@media (max-width: 615px) {
  .logo img {
    width: 95px;
  }

  .logo h1 {
    font-size: 40px;
  }

  .logo span {
    font-size: 16px;
  }

  .area-input {
    width: 85%;
  }
}
