.menu {
  position: absolute;
  top: 20px;
  right: 10%;
  color: #FFF;
  font-weight: bold;
  display: flex;
}

.menu a {
  text-decoration: none;
}

.social {
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.menu-item {
  color: #000;
  background-color: #FFF;
  padding: 12px 24px;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  transition: ease 2s;
  font-family: 'Loto', sans-serif;
}

.menu-item:hover {
  background-color: #F05228;
}
