.container-error {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-error img {
  max-width: 300px;
  margin: 24px 0;
  animation: shake 2s;
}



/*Animacao*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0px);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 60% {
    transform: translate3d(-4px, 0, 0);
  } 

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}

.container-error h1 {
  color: #FFF;
}

.container-error a {
  color: #132742;
  background-color: #FFF;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 18px;
  border-radius: 3px;
  font-family: 'Loto', sans-serif;
  margin: 14px 0;
  transition: ease 2s;
}

a:hover {
  background-color: #132742;
  color: #FFF;
}
